PORT=3000
LDSS_UPLOAD_DIR=uploads
LDSS_SUPABASE_URL=https://rfzqifloaixrtseqzrzk.supabase.co
LDSS_SUPABASE_ANON_KEY=sb_publishable_ysa32dk9v2Vcps9KQSR2Rg_F0w9TftL
LDSS_SUPABASE_SERVICE_ROLE_KEY=
LDSS_SMTP_HOST=
LDSS_SMTP_PORT=587
LDSS_SMTP_SECURE=false
LDSS_SMTP_USER=
LDSS_SMTP_PASS=
LDSS_MAIL_FROM=
LDSS_MAIL_REPLY_TO=
